AMES IOWA HOSING Project Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
import requests
import zipfile
pd.set_option('display.max_columns', None)

In [2]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/ames-housing-dataset.zip'
response = requests.get(url)
print(response.status_code)
if(response.status_code == 200):
    print("Data Fetched successfully")
else:
    print("Failed to fetch Data " + response.status_code)

response.raise_for_status

200
Data Fetched successfully

In [ ]:
# Fetching the data from the Response
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    csv_name = [name for name in z.namelist() if name.endswith(".csv")][0]
    print(csv_name)

    with z.open(csv_name) as csv:
        df = pd.read_csv(csv,engine="pyarrow", dtype_backend="pyarrow")
        print(df.head())

AmesHousing.csv
   Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0      1  526301100           20        RL         141.0     31770   Pave
1      2  526350040           20        RH          80.0     11622   Pave
2      3  526351010           20        RL          81.0     14267   Pave
3      4  526353030           20        RL          93.0     11160   Pave
4      5  527105010           60        RL          74.0     13830   Pave

  Alley Lot Shape Land Contour Utilities Lot Config Land Slope Neighborhood  \
0   NaN       IR1          Lvl    AllPub     Corner        Gtl        NAmes
1   NaN       Reg          Lvl    AllPub     Inside        Gtl        NAmes
2   NaN       IR1          Lvl    AllPub     Corner        Gtl        NAmes
3   NaN       Reg          Lvl    AllPub     Corner        Gtl        NAmes
4   NaN       IR1          Lvl    AllPub     Inside        Gtl      Gilbert

  Condition 1 Condition 2 Bldg Type House Style  Overall Qual  Overall Cond  \
0        Norm        Norm      1Fam      1Story             6             5
1       Feedr        Norm      1Fam      1Story             5             6
2        Norm        Norm      1Fam      1Story             6             6
3        Norm        Norm      1Fam      1Story             7             5
4        Norm        Norm      1Fam      2Story             5             5

   Year Built  Year Remod/Add Roof Style Roof Matl Exterior 1st Exterior 2nd  \
0        1960            1960        Hip   CompShg      BrkFace      Plywood
1        1961            1961      Gable   CompShg      VinylSd      VinylSd
2        1958            1958        Hip   CompShg      Wd Sdng      Wd Sdng
3        1968            1968        Hip   CompShg      BrkFace      BrkFace
4        1997            1998      Gable   CompShg      VinylSd      VinylSd

  Mas Vnr Type  Mas Vnr Area Exter Qual Exter Cond Foundation Bsmt Qual  \
0        Stone         112.0         TA         TA     CBlock        TA
1          NaN           0.0         TA         TA     CBlock        TA
2      BrkFace         108.0         TA         TA     CBlock        TA
3          NaN           0.0         Gd         TA     CBlock        TA
4          NaN           0.0         TA         TA      PConc        Gd

  Bsmt Cond Bsmt Exposure BsmtFin Type 1  BsmtFin SF 1 BsmtFin Type 2  \
0        Gd            Gd            BLQ         639.0            Unf
1        TA            No            Rec         468.0            LwQ
2        TA            No            ALQ         923.0            Unf
3        TA            No            ALQ        1065.0            Unf
4        TA            No            GLQ         791.0            Unf

   BsmtFin SF 2  Bsmt Unf SF  Total Bsmt SF Heating Heating QC Central Air  \
0           0.0        441.0         1080.0    GasA         Fa           Y
1         144.0        270.0          882.0    GasA         TA           Y
2           0.0        406.0         1329.0    GasA         TA           Y
3           0.0       1045.0         2110.0    GasA         Ex           Y
4           0.0        137.0          928.0    GasA         Gd           Y

  Electrical  1st Flr SF  2nd Flr SF  Low Qual Fin SF  Gr Liv Area  \
0      SBrkr        1656           0                0         1656
1      SBrkr         896           0                0          896
2      SBrkr        1329           0                0         1329
3      SBrkr        2110           0                0         2110
4      SBrkr         928         701                0         1629

   Bsmt Full Bath  Bsmt Half Bath  Full Bath  Half Bath  Bedroom AbvGr  \
0             1.0             0.0          1          0              3
1             0.0             0.0          1          0              2
2             0.0             0.0          1          1              3
3             1.0             0.0          2          1              3
4             0.0             0.0          2          1              3

   Kitchen AbvGr Kitchen Qual  TotRms AbvGrd Functional  Fireplaces  \
0              1           TA              7        Typ           2
1              1           TA              5        Typ           0
2              1           Gd              6        Typ           0
3              1           Ex              8        Typ           2
4              1           TA              6        Typ           1

  Fireplace Qu Garage Type  Garage Yr Blt Garage Finish  Garage Cars  \
0           Gd      Attchd         1960.0           Fin          2.0
1          NaN      Attchd         1961.0           Unf          1.0
2          NaN      Attchd         1958.0           Unf          1.0
3           TA      Attchd         1968.0           Fin          2.0
4           TA      Attchd         1997.0           Fin          2.0

   Garage Area Garage Qual Garage Cond Paved Drive  Wood Deck SF  \
0        528.0          TA          TA           P           210
1        730.0          TA          TA           Y           140
2        312.0          TA          TA           Y           393
3        522.0          TA          TA           Y             0
4        482.0          TA          TA           Y           212

   Open Porch SF  Enclosed Porch  3Ssn Porch  Screen Porch  Pool Area Pool QC  \
0             62               0           0             0          0     NaN
1              0               0           0           120          0     NaN
2             36               0           0             0          0     NaN
3              0               0           0             0          0     NaN
4             34               0           0             0          0     NaN

   Fence Misc Feature  Misc Val  Mo Sold  Yr Sold Sale Type Sale Condition  \
0    NaN          NaN         0        5     2010       WD          Normal
1  MnPrv          NaN         0        6     2010       WD          Normal
2    NaN         Gar2     12500        6     2010       WD          Normal
3    NaN          NaN         0        4     2010       WD          Normal
4  MnPrv          NaN         0        3     2010       WD          Normal

   SalePrice
0     215000
1     105000
2     172000
3     244000
4     189900

In [4]:
import sys
print(sys.executable)

/opt/homebrew/Caskroom/miniconda/base/envs/myenv/bin/python

In [5]:
from IPython.display import display, HTML

css = """
<style>
.output_text, .output_stdout {
    white-space: pre; /* Preserve whitespace */
    overflow-x: auto; /* Enable horizontal scrolling */
    display: block; /* Ensure block display */
    max-width: 100%; /* Limit width to container */
}
</style>
"""
display(HTML(css))

In [6]:
print(df.shape)
print(df.describe())

(2930, 82)
            Order           PID  MS SubClass  Lot Frontage       Lot Area  \
count  2930.00000  2.930000e+03  2930.000000   2440.000000    2930.000000
mean   1465.50000  7.144645e+08    57.387372     69.224590   10147.921843
std     845.96247  1.887308e+08    42.638025     23.365335    7880.017759
min       1.00000  5.263011e+08    20.000000     21.000000    1300.000000
25%     733.25000  5.284770e+08    20.000000     58.000000    7440.250000
50%    1465.50000  5.354536e+08    50.000000     68.000000    9436.500000
75%    2197.75000  9.071811e+08    70.000000     80.000000   11555.250000
max    2930.00000  1.007100e+09   190.000000    313.000000  215245.000000

       Overall Qual  Overall Cond   Year Built  Year Remod/Add  Mas Vnr Area  \
count   2930.000000   2930.000000  2930.000000     2930.000000   2907.000000
mean       6.094881      5.563140  1971.356314     1984.266553    101.896801
std        1.411026      1.111537    30.245361       20.860286    179.112611
min        1.000000      1.000000  1872.000000     1950.000000      0.000000
25%        5.000000      5.000000  1954.000000     1965.000000      0.000000
50%        6.000000      5.000000  1973.000000     1993.000000      0.000000
75%        7.000000      6.000000  2001.000000     2004.000000    164.000000
max       10.000000      9.000000  2010.000000     2010.000000   1600.000000

       BsmtFin SF 1  BsmtFin SF 2  Bsmt Unf SF  Total Bsmt SF   1st Flr SF  \
count   2929.000000   2929.000000  2929.000000    2929.000000  2930.000000
mean     442.629566     49.722431   559.262547    1051.614544  1159.557679
std      455.590839    169.168476   439.494153     440.615067   391.890885
min        0.000000      0.000000     0.000000       0.000000   334.000000
25%        0.000000      0.000000   219.000000     793.000000   876.250000
50%      370.000000      0.000000   466.000000     990.000000  1084.000000
75%      734.000000      0.000000   802.000000    1302.000000  1384.000000
max     5644.000000   1526.000000  2336.000000    6110.000000  5095.000000

        2nd Flr SF  Low Qual Fin SF  Gr Liv Area  Bsmt Full Bath  \
count  2930.000000      2930.000000  2930.000000     2928.000000
mean    335.455973         4.676792  1499.690444        0.431352
std     428.395715        46.310510   505.508887        0.524820
min       0.000000         0.000000   334.000000        0.000000
25%       0.000000         0.000000  1126.000000        0.000000
50%       0.000000         0.000000  1442.000000        0.000000
75%     703.750000         0.000000  1742.750000        1.000000
max    2065.000000      1064.000000  5642.000000        3.000000

       Bsmt Half Bath    Full Bath    Half Bath  Bedroom AbvGr  Kitchen AbvGr  \
count     2928.000000  2930.000000  2930.000000    2930.000000    2930.000000
mean         0.061134     1.566553     0.379522       2.854266       1.044369
std          0.245254     0.552941     0.502629       0.827731       0.214076
min          0.000000     0.000000     0.000000       0.000000       0.000000
25%          0.000000     1.000000     0.000000       2.000000       1.000000
50%          0.000000     2.000000     0.000000       3.000000       1.000000
75%          0.000000     2.000000     1.000000       3.000000       1.000000
max          2.000000     4.000000     2.000000       8.000000       3.000000

       TotRms AbvGrd   Fireplaces  Garage Yr Blt  Garage Cars  Garage Area  \
count    2930.000000  2930.000000    2771.000000  2929.000000  2929.000000
mean        6.443003     0.599317    1978.132443     1.766815   472.819734
std         1.572964     0.647921      25.528411     0.760566   215.046549
min         2.000000     0.000000    1895.000000     0.000000     0.000000
25%         5.000000     0.000000    1960.000000     1.000000   320.000000
50%         6.000000     1.000000    1979.000000     2.000000   480.000000
75%         7.000000     1.000000    2002.000000     2.000000   576.000000
max        15.000000     4.000000    2207.000000     5.000000  1488.000000

       Wood Deck SF  Open Porch SF  Enclosed Porch   3Ssn Porch  Screen Porch  \
count   2930.000000    2930.000000     2930.000000  2930.000000   2930.000000
mean      93.751877      47.533447       23.011604     2.592491     16.002048
std      126.361562      67.483400       64.139059    25.141331     56.087370
min        0.000000       0.000000        0.000000     0.000000      0.000000
25%        0.000000       0.000000        0.000000     0.000000      0.000000
50%        0.000000      27.000000        0.000000     0.000000      0.000000
75%      168.000000      70.000000        0.000000     0.000000      0.000000
max     1424.000000     742.000000     1012.000000   508.000000    576.000000

         Pool Area      Misc Val      Mo Sold      Yr Sold      SalePrice
count  2930.000000   2930.000000  2930.000000  2930.000000    2930.000000
mean      2.243345     50.635154     6.216041  2007.790444  180796.060068
std      35.597181    566.344288     2.714492     1.316613   79886.692357
min       0.000000      0.000000     1.000000  2006.000000   12789.000000
25%       0.000000      0.000000     4.000000  2007.000000  129500.000000
50%       0.000000      0.000000     6.000000  2008.000000  160000.000000
75%       0.000000      0.000000     8.000000  2009.000000  213500.000000
max     800.000000  17000.000000    12.000000  2010.000000  755000.000000

In [7]:
print(df.dtypes)

Order               int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
                   ...
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 82, dtype: object

In [8]:
print(df.select_dtypes('string'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2930 rows x 0 columns]

In [9]:
print(pd.get_option('display.max_columns'))

None

In [10]:
df.select_dtypes('string').describe().T

ValueError: Cannot describe a DataFrame without columns

In [ ]:
#prints the number of bytes the String uses before converting into astype - category
print(df.select_dtypes('string')
      .memory_usage(deep=True)
      .sum())

In [ ]:
# prints the number of Kb bytes the indiviudal column of String uses
print(df.select_dtypes('string')
        .astype('category')
        .memory_usage(deep=True))

In [ ]:
#prints the number of bytes the String uses before after into astype - category
print(df.select_dtypes('string')
      .astype('category')
      .memory_usage(deep=True)
      .sum())

In [ ]:
929599/137945 # This shows converting to category, the low cardinality String Columns has better memory usage
# also using category shows it's 6 times more than the regular String datatype column

In [ ]:
print(df
      .isna()
      .mean()
      .mul(100)
      .pipe(lambda seri : seri[seri > 0]))

In [ ]:
# Missing string values
(df
 .select_dtypes('string')
 .eq('')
 .mean() 
 .mul(100)
 .pipe(lambda ser: ser[ser > 0])
)

In [ ]:
(df
 .select_dtypes('string')
 .eq('')
 .any(axis='columns')
)

In [ ]:
# Looks like many values are NA
# Missing string values (Encoded as NA)
(df
 .select_dtypes('string')
 .eq('NA')
 .mean() 
 .mul(100)
 .pipe(lambda ser: ser[ser > 0])
)

In [ ]:
# deleting
# Notice Alley is NA!
#Gives Rows that are missing values
(df
 [~df.select_dtypes('string').eq('').any(axis='columns')]
)

In [ ]:
(df
 .query('`Pool QC`.isna()')
)

In [ ]:
(df
 .query('`Pool QC` == "NA"')
)

In [ ]:
#Assign generally takes a parameter, para1=column_name, para2=generate_value Result =new column + generated_value. 
# But if we pass ** + dataframe, it takes the df and updates the value accordingly
# tells Pandas to replace the True values with the string 'Not Applicable'
print(df
      .assign(** df.select_dtypes('string').isna().replace(to_replace=True,value='Not Applicable')))

In [ ]:
# Even if you're only checking for a single value, .isin() expects a collection as its argument. , To findall list, we pass list[]
string_cols = df.select_dtypes(include='object').columns #Use object for recent pandas versions.
print(df
      [df[string_cols]
       .isin(['Not Applicable']).any(axis='columns')]
      )

In [ ]:
print(df
      .assign(** df.select_dtypes('string').replace('','Not Applicable')))

In [ ]:
df['Electrical'].value_counts(dropna=False)

In [ ]:
(df
    .query('Electrical.isna()'))

In [ ]:
#pandas value_counts() function by default, excludes NaN values. dropna=False ensures that NaN values are included in the count
(df['Fireplace Qu']
 .value_counts(dropna=False))

In [ ]:
(df['Bsmt Cond']
    .value_counts(dropna=False))

In [ ]:
# memory usage before converting the String to categories
(df.assign(
  **  df.select_dtypes('string')
 .isna()
 .replace(to_replace=True,value='Not Applicable')
)
.memory_usage(deep=True)
.sum()
 )

In [ ]:
# memory usage after converting the String to categories

(df
 .assign(
    ** df.select_dtypes('string')
    .isna()
    .replace(to_replace=True, value='Not Applicable')
    .astype('category')
)
.memory_usage(deep=True)
.sum()
)

In [ ]:
# memory usage before converting the String to categories
(df.assign(
  **  df.select_dtypes('string')
 .replace('','Not Applicable')
)
.memory_usage(deep=True)
.sum()
 )

In [ ]:
# memory usage before converting the String to categories
(df.assign(
  **  df.select_dtypes('string')
 .replace('','Not Applicable')
 .astype('category')
)
.memory_usage(deep=True)
.sum()
 )